.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.form-container {
  background-color: white;
  border: #d4d4d4 solid 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: center;
  margin-bottom: 50px;
  padding: 2vh 5vw;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20em;
  justify-content: space-evenly;
}

.wallet-form {
  background-color: #252525;
  border: 1px rgb(70, 70, 70) solid;
  border-radius: 25px;
  height: 80vh;
  margin: 2em;
  margin-left: 125px;
  padding-bottom: 25px;
  width: 40vw;
}

.wallet-form label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wallet-form-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-container {
  align-items: center;
  background-color: rgb(46, 46, 46);
  color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-title {
  color: rgb(75, 75, 75);
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
}

.login-label {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.text-input {
  background-color: #fafafa;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 1px 3px 0 rgba(42, 42, 42, 0.34);
  color: #505050;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.input {
  width: 25vw;
}

.btn {
  background-color: rgb(240, 240, 240);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-shadow: 0 1px 2px rgba(166, 175, 195, 0.25);
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: Basier circle, -apple-system, system-ui, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1.1rem;
  font-weight: 600;
  height: 3rem;
  line-height: 1;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  touch-action: manipulation;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}

.btn:hover {
  background-color: #387e38;
  color: white;
}

.btn:disabled {
  color: #acacac;
}

.btn:disabled:hover {
  background-color: rgb(240, 240, 240);
  color: #acacac;
}

.header {
  padding: 0.5em 1em;
}

.header , header div {
  align-items: center;
  background-color: #387e38;
  display: flex;
  font-weight: 600;
  justify-content: space-around;
}

.header h1 {
  margin: 0;
}

.total-container {
  width: 7em;
}

.wallet-container {
  background-color: rgb(46, 46, 46);
  color: white;
  height: 100%;
}

table {
  background-color: #252525;
  border: 1px solid #505050;
  margin: 0 auto 100px;
  padding: 10px;
  width: 90vw;
}

body {
  background-color: rgb(46, 46, 46);
}

th {
  padding: 10px;
}

tbody {
  font-weight: 600;
  text-align: center;
}

tbody tr {
  background-color: #505050;
  padding: 5px;
}

tbody td {
  padding: 0 10px;
}

.edit {
  background-color: transparent;
  border: none;
  /* color: rgb(255, 228, 110); */
  cursor: pointer;
  font-weight: 700;
  margin-right: 1em;
}

.delete {
  background-color: transparent;
  border: none;
  color: rgb(255, 107, 107);
  cursor: pointer;
  font-weight: 700;
}

.select-edit{
  background-color: rgb(255, 228, 110);
  color:#252525;
}
